body {
  background-color: rgb(151, 212, 233);
}

.box {
    background-color: rgb(86, 169, 236);
    padding: 50px;
    border-radius: 20px;
    margin: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}